.hero {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 100px);
  background-color: $color-solitude-2;

  &--partners {
    .hero__heading {
      margin: 0 0 48px 0;

      @include vp-1023 {
        margin: 0 0 40px 0;
      }

      @include vp-767 {
        margin: 0;
      }
    }

    .hero__btn {
      width: 258px;

      @include vp-1023 {
        width: 233px;
      }

      @include vp-767 {
        top: 194px;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 180px;

    @include vp-1023 {
      column-gap: 8px;
    }

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include vp-1023 {
      padding: 58px 0;
    }

    @include vp-767 {
      align-items: center;
      padding: 40px 0 0;
      position: relative;
    }
  }

  &__picture {
    flex-shrink: 0;
  }

  &__btn {
    width: 272px;

    @include vp-1023 {
      width: 244px;
    }

    @include vp-767 {
      position: absolute;
      top: 262px;
      z-index: 10;
    }

    &:hover,
    &:focus-visible {
      background-color: $color-free-speech-blue;
    }
  }

  &__heading {
    margin: 0 0 24px;
    font-size: 40px;
    line-height: 48px;

    @include vp-1023 {
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 20px;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  &__heading-highlight {
    color: $color-royal-blue-1;
  }

  &__description {
    margin: 0 0 48px;
    font-size: 18px;
    line-height: 24px;

    @include vp-1023 {
      margin: 0 0 40px;
      font-size: 16px;
    }

    @include vp-767 {
      margin: 0;
      text-align: center;
    }
  }

  &__image {
    @include vp-1023 {
      max-width: 420px;
      height: 410px;
    }

    @include vp-767 {
      max-width: 375px;
      height: 364px;
    }
  }
}
